<div>
  <div mat-dialog-title>
    <h3>Create Customer
      <mat-icon class="pull-right" (click)="onCloseCancel()">close</mat-icon>
    </h3>
  </div>
  <hr>
  <mat-dialog-content>
    <form>
      <mat-form-field style="width: 50%">
        <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
        <mat-error>
          Customer name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 50%">
        <input matInput type="tel" maxlength="11" placeholder="Phone Number" [(ngModel)]="phoneNumber" name="phoneNumber" required>
        <mat-hint align="end">{{phoneNumber.length}} / 11</mat-hint>
        <mat-error>
          Customer phone number is required
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 50%">
        <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email">
        <mat-error>
          Customer email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 50%">
        <input matInput placeholder="Address" [(ngModel)]="address" name="address">
        <mat-error>
          Customer address is required
        </mat-error>
      </mat-form-field>

    </form>
    <br><br>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button *ngIf="!showWait" mat-raised-button (click)="createCustomer()" color="primary">Submit</button>
    <button *ngIf="showWait" mat-raised-button color="accent" class="submit-button">Please wait... </button>
    <button *ngIf="!showWait" mat-raised-button (click)="onCloseCancel()" class="warn">Cancel</button>
  </mat-dialog-actions>
</div>
