<div class="site-body col-md-12 ">
  <div class="col-md-7">
    <h2>Change Password </h2>
    <form name="changePassword" [formGroup]="changePassword" novalidate>
      <mat-form-field>
          <input matInput type="password" placeholder="Old Password" formControlName="oldPassword" [(ngModel)]="oldPassword"
          name="password" required>
        <mat-error>
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="password" [(ngModel)]="password"
          name="password" required>
        <mat-error>
          Password is required
        </mat-error>
        <mat-hint style="color:rgb(69, 185, 200); width:100%">Must have at least one numbers, uppercase, lowercase and
          special character</mat-hint>
      </mat-form-field>
      <br><br>

      <mat-form-field>
        <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmPassword"
          [(ngModel)]="confirmPassword" name="confirmPassword" required>
        <mat-error *ngIf="changePassword.get('confirmPassword').hasError('required')">
          Password confirmation is required
        </mat-error>
        <mat-error *ngIf="!changePassword.get('confirmPassword').hasError('required') &&
                                       changePassword.get('confirmPassword').hasError('passwordsNotMatching')">
          Passwords must match
        </mat-error>
      </mat-form-field>

      <button *ngIf="!showWait" mat-raised-button color="accent" class="submit-button" aria-label="Submit"
        [disabled]="changePassword.invalid" (click)="onChangePassword()">
        CHANGE PASSWORD
      </button>
      <button *ngIf="showWait" mat-raised-button color="accent" class="submit-button">
        Please wait ...
      </button>
    </form>

  </div>
</div>
