.mark{
	background-color: #adc4d8;

}

.mark a{
	color: white !important;
}

div.admin{
  position: fixed;
}

div.admin ul li a{
  cursor: pointer;
  text-decoration: none;
}

div.content{
  margin-top: 70px !important;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  div.admin{
    position: static;
  }
  .mobile-hidden{
    display: none;
  }
}
