<div>
  <div mat-dialog-title>
    <h3>Upload Layout
      <mat-icon class="pull-right" (click)="onCloseCancel()">close</mat-icon>
    </h3>
  </div>
  <hr>
  <mat-dialog-content>
    <form>

      <div class="col-md-6" style="padding-left: 0px !important ">
        <button mat-raised-button (click)="openInput()" style=" height:auto;">
          Upload Layouts
        </button>
        <!-- <img src="/assets/upload.png" style="width:30%" (click)="openInput()" alt="UploadImage"> -->
      </div>

      <div class="col-md-6">
        <img *ngIf="imageUrl !== ''" [src]=imageUrl alt="UploadImage" style="width:80%; height:auto;">
        <!-- <img id="originalImage" [src]=originalImageUrl alt=" Original User Image"  style="display: none"> -->
      </div>


      <input id="fileInput" style="display: none" type="file" #img (change)="fileChange($event.target.files)" name="img"
        accept="image/*">
    </form>
    <br><br>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button *ngIf="!showWait" mat-raised-button (click)="upload()" color="primary">Submit</button>
    <button *ngIf="showWait" mat-raised-button color="accent" class="submit-button">Please wait... </button>
    <button *ngIf="!showWait" mat-raised-button (click)="onCloseCancel()" class="warn">Cancel</button>
  </mat-dialog-actions>
</div>
