.site-body{
  background-color: white !important;
  margin-top: 20px;
  padding: 20px 40px 20px 40px
}

.site-body h3{
  margin-bottom: 20px
}

.panel-body p {
  margin-top: -5px
}

.panel-body div{
  margin-bottom: 15px;
}

.mat-column-right{
  text-align: center;
}
table, th, td{
  width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  border: none
}

th.mat-sort-header-sorted {
  color: black;
}

mat-card{
  padding: auto 1px;
}

.desk-hidden{
  display: none
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .desk-hidden{
    display: block;
  }
  .mobile-hidden{
    display:none
  }

  .mobile-enlarge{
    width: 800%
  }

  .no-padding{
    padding: 1px;
  }

  div.no-padding h3, div.no-padding p{
    padding: 10px 20px
  }
}
