<p *ngIf="conLen === 0">You have no confirmed schedule Appointment</p>
<mat-card *ngIf="conLen > 0">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <br>
  <mat-divider></mat-divider>
  <br>

  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="customer" class="mobile-enlarge">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobile-enlarge"> <p class="mobile-hidden">Name</p> </th>
        <td mat-cell *matCellDef="let appointment" class="mobile-enlarge">
          <a class="mobile-hidden" routerLink="/user/customer/{{appointment.customer.id}}">{{appointment.customer.name}} </a>
          <div class="col-xs-12 desk-hidden">
              <p><b>Name: </b><a routerLink="/user/customer/{{appointment.customer.id}}">{{appointment.customer.name}} </a></p>
              <h4><b>Site: </b>{{appointment.site.name}}</h4>
              <p style="color:dimgrey"> <b> Property: </b>{{appointment.property}}</p>
              <button class="btn btn-primary" style="margin-bottom: 10px">Present offer</button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="site" class="mobile-hidden">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobile-hidden"> Site </th>
        <td mat-cell *matCellDef="let appointment" class="mobile-hidden"> {{appointment.site.name}} </td>
      </ng-container>

      <ng-container matColumnDef="property" class="mobile-hidden">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobile-hidden"> Property </th>
        <td mat-cell *matCellDef="let appointment" class="mobile-hidden"> {{appointment.property}} </td>
      </ng-container>

      <ng-container matColumnDef="date" class="mobile-hidden">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobile-hidden"> Scheduled Date </th>
        <td mat-cell *matCellDef="let appointment" class="mobile-hidden"> {{appointment.viewDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="status" class="mobile-hidden">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobile-hidden"> Action </th>
        <td mat-cell *matCellDef="let appointment"> <button class="btn btn-primary mobile-hidden">Present offer</button> </td>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-card>
