.mat-column-right{
  text-align: center;
}
table, th, td{
  width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  border: none
}

th.mat-sort-header-sorted {
  color: black;
}


.p-0{
  padding: 0px;
}

.align{
  text-align: center !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .middle{
    padding: 0;

  }

  .align{
    margin-bottom: 20px
  }

  /* For mobile phones: */
  .mobile-hidden{
    display: none;
  }
}


