<mat-card >
  <h2>Customer Details </h2>
  <!-- <button class=" btn btn-primary pull-right" (click)="openAddAppointmentDialog()" style="margin-top: -50px"> Book
    Appointment</button> -->
</mat-card> <br>

<mat-card class="col-md-12" style="margin-bottom: 20px">
  <div class="col-md-6 prop no-padding">
    <p> <b>Name: </b></p>
    <p class="format" > {{ customer.name }}</p>
  </div>

  <div class="col-md-6 prop no-padding">
    <p> <b>Phone Number: </b></p>
    <p class="format"> {{ customer.phoneNumber }}</p>
  </div>

  <div class="col-md-6 prop no-padding">
    <p> <b>Email: </b></p>
    <p class="format">  {{ customer.email }}</p>
  </div>

  <div class="col-md-6 prop no-padding">
    <p> <b>Address: </b></p>
    <p class="format"> {{ customer.address }}</p>
  </div>
</mat-card>


<mat-card class="site-body col-md-12 no-padding">
  <h3>Appointments</h3>
  <p *ngIf="appLen===0">No appointment has been booked with customer</p>
  <div *ngFor="let appointment of appointments" class="panel panel-warning">
    <div class="panel-heading">
      <p><b>Follow Up By: </b>{{ appointment.followUp.name}}</p>
      <p class="pull-right mobile-hidden" style="margin-top: -25px; margin-right: 60px"><b>Scheduled Date: </b>{{ appointment.viewDate | date: 'medium'}}</p>

    </div>
    <div class="panel-body">
      <div class="col-md-4 col-sm-6 prop no-padding">
        <p> <b>Site: </b></p>
        <p class="format"> {{ appointment.site.name }}</p>
      </div>
      <div class="col-md-4 col-sm-6 prop no-padding">
        <p> <b>Property: </b></p>
        <p class="format"> {{ appointment.property }}</p>
      </div>
      <div class="col-md-4 col-sm-6 prop no-padding ">
        <p> <b>Project: </b></p>
        <p class="format"> {{ appointment.project }}</p>
      </div>

      <div *ngIf="appointment.customerType != ''" class="col-md-12 col-sm-6 prop no-padding ">
        <p> <b>Customer Type: </b></p>
        <p class="format"> {{ appointment.customerType }}</p>
      </div>

      <div *ngIf="appointment.inputter" class="col-md-4 col-sm-12 prop no-padding">
        <p> <b>Inputter: </b></p>
        <p class="format"> {{ appointment.inputter.name }}</p>
      </div>

      <div class="col-md-8 col-sm-12 prop no-padding">
        <p> <b>Remarks: </b></p>
        <p class="format"> {{ appointment.remark }}</p>
      </div>

      <div *ngIf="appointment.presenter" class="col-md-4 col-sm-12 prop no-padding">
        <p> <b>Presenter: </b></p>
        <p class="format"> {{ appointment.presenter.name }}</p>
      </div>

      <div *ngIf="appointment.presenter" class="col-md-8 col-sm-12 prop no-padding">
        <p> <b>Presentation Remarks: </b></p>
        <p class="format"> {{ appointment.presentationRemark }}</p>
      </div>
    </div>
  </div>
</mat-card><br><br>
